@charset "UTF-8";

/* 하유리: css 초기화 코드 적용(23.07.26.) */
@import "reset.css";

/* wrap */
#container {
	width: 100%;
	margin: 0px auto;
	text-align:center;
	border: 0px solid #bcbcbc;
}

#header {
	border: 0px solid #bcbcbc;
	font-family: Pretendard-Regular;
}
	
#content {
	width: 100%;
	float: left;
	border: 0px solid #bcbcbc;
}

#footer {
	clear: both;
	border: 0px solid #bcbcbc;
	background-color: #128853;
	width: 100%;
}