@charset "UTF-8";

/* css 초기화 코드 적용 */
@import "reset.css";

/* 하유리: 폰트 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 하유리: 리뷰 페이지 제목 수정(23.07.29.) */
.review_sub {
	margin: 50px 0;
	padding: 178px 0 24px 0;	/* 하유리: 헤더 영역만큼 아래로 내림(23.07.25.) */
								/* 하유리: 제목 주변 여백 수정(23.07.29.)  */
}

/* 하유리: 리뷰페이지 제목(23.07.29.)  */
.review_text {
 	font-family: 'Noto Sans KR', sans-serif;
	font-size: 32px;		/* 하유리: 폰트 크기 수정(23.07.29.) */
	font-weight: 700;
	line-height: 1.2;
 	letter-spacing: -1px;	/* 하유리: 제목 자간 수정(23.07.29.) */
}

/******** 광고(23.08.11.) ********/
.ad {
    position: fixed;
    top: 237px;
    right: 51.5px;
}

@media screen and (max-width: 1260px) {
  .ad {
    display: none;
  }
} 

.ad .ad_img, .ad .ad_div {
	width: 95px;
}

.ad .ad_div {
	border: 1px solid #e2e2e2;
	margin-top: 10px;
    background-color: #fff;
}

.ad .ad_div a {
	text-decoration: none;		
}

.ad .ad_div p {
	padding: 3px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 13px;
	font-weight: 300;
	color: #333;
}

.ad_div p:hover {
    cursor: pointer;
}

/******** 광고 end ********/

.container {
	width: 920px;
	margin: auto;
	margin-bottom: 100px;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}

/********* 검색 *********/
/* 검색 전체(23.08.29.) */
.search-form {
	display: flex;
	align-items: flex-start;
}

/* 검색어 전체(23.08.29.) */
.search {
	display: flex;
	justify-content: right;
	margin-bottom: 21px;
	position: relative;
}

/* 검색어 입력 input */
.search-bar, .searchType {
	border: 1px solid #e2e2e2;		/* 추가(23.08.11.) */
    border-radius: 7px;				/* 추가(23.08.11.) */
	height: 30px;					/* 추가(23.08.11.) */
	padding-left: 5px;				/* 추가(23.08.11.) */	 /* 수정(23.08.19.) */
	margin-right: 5px;				/* 추가(23.08.11.) */
}

.search img {	/* 추가(23.08.11.) */
	position: absolute;
    top: 4px;
    width: 21px;
    right: 3px;
    margin: 0;
}

.search-bar:focus, .searchType:focus {	/* 수정(23.08.19.) */
	outline: none;
}

/* 검색어 입력 input: placeholder */
.search-bar::placeholder {	/* 추가(23.08.11.) */
	color: #cccccc;			
}

/* 검색버튼(23.08.29.) */
.search-btn {
	border: none;
    border-radius: 7px;		/* 추가(23.08.11.) */
	height: 30px;			/* 변경(23.08.11.) */
	width: 28px;			/* 변경(23.08.11.) */
	font-size: 12px;
	background: #128853;
	color: white;
}

/* 하유리: 테이블 */
.table {
	padding: 20px 0;
	text-align: center;
	width: 100%;
}

/* 하유리: 제목 스타일 */
.re_title a {
	text-decoration: none;
	color: #000;
}

/* 하유리: 페이징 */
.pagination {
	display: inline-block;
	margin: 20px 0;
}

.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}

/* 현재페이지 스타일 */
.pagination a.active{
	background-color: #128853;
	color: #fff;
	font-weight: bold;
}

.pagination a:hover:not(.active){
	background-color: #ddd;
}

/* 글쓰기 버튼 */
.writeBtn{
	margin: 0px 0px 60px 0px;
	padding: 5px 10px;	/* 하유리: 버튼 안쪽 여백 수정(23.07.31.) */
	border-radius: 5px;
	border-style: none;
	background-color:#128853;
	color: #fff;
	float: right;
}